*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.templates-components{
    background-color: #EFE9E4;
    padding: 70px 0;
}

.templates-text{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.templates-text h1 {
    font-size: 80px;
    font-weight: 400;
    font-family: 'Lucida Sans';
    padding: 0 70px;
    width: 50vw;
}
.templates-text p {
    width: 600px;
    padding: 70px 0;
}

.templates-item {
    display: flex;
}
.templates-item img {
    width: 32vw;
    height: 70vh;
    padding: 0 40px;
    object-fit: cover;
}