*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-components{
    background-color: #EFE9E4;
}
.work-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 0;
}

.imges img {
    width: 40vw;
    height: 90vh;
}
.texts h1{
    font-size: 80px;
    font-weight: 400;
    font-family:'Lucida Sans';
}

.address{
    padding: 20px 0;
}
.Phone{
    padding: 20px 0;
}
.Email{
    padding: 20px 0;
}