@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Raleway:ital,wght@0,400;0,500;1,200;1,400&family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.main-section{
    display: flex;
    padding: 50px;
    height: 600px;
    background-color: #EFE9E4;
}

.img-mainSection{
    display: flex;
    
}
.img-1{
    height: 500px;
    width: 700px;
}
.main-tital{
    padding-top: 290px;
    padding-left: 100px;
    padding-right: 100px;
}


